.cart-card {
    display: grid;
    grid-template-columns: auto auto auto;
    gap:12px;
}
.cart-item{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right:20px;
    padding: 10px 10px 10px 10px;
    
}
.cart-heading{
    text-align: center;
    font-weight: bold;
}
.card-component{
    display: flex;
    flex-direction: column;
    height:100vh; 
    gap:100px;
}
.order-button{
    position: fixed; /* Fixes the button in place relative to the viewport */
    bottom: 20px;    /* Distance from the bottom of the viewport */
    right: 20px;     /* Distance from the right of the viewport */
    background-color: #007bff; /* Button color */
    color: white;    /* Text color */
    border: none;    /* Remove default border */
    padding: 10px 20px; /* Padding inside the button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer */
    z-index: 1000; /* Ensures button is on top of other content */
}
.order-button:hover {
    background-color: #0056b3; /* Darker color on hover */
}
 